.cart-dropdown-container {
  position: absolute;
  width: 30rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  background-color: rgba(70, 70, 70, 0.8);
  top: 6rem;
  right: 1vw;
  z-index: 5;

  .cart-items {
    border: 2px solid black;
    padding: 0.2rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // background-color: rgb(3, 62, 3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(139, 139, 139);
      outline: 1px solid rgb(130, 136, 131);
    }

    .cart-total-dropdown {
      font-size: 1.6rem;
      margin: 1rem 1rem 0.2rem auto;
    }
  }

  .empty-cart {
    margin: auto;
    font-size: 1.4rem;
  }
}
