.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 3rem 8rem;
  padding: 2vh 10vw;
  min-height: 8vh;
  // height: clamp(2vw, 3vw, 5vw);
  // max-height: 10vw;
  background-color: rgb(22, 22, 22);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: #005d0e;
    height: 0.2rem;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .logo-container {
    // height: 100%;
    // max-height: 15rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      width: 8%;
      min-width: 2rem;
    }

    .logo-text {
      // color: #2d527c;
      font-family: 'Share Tech Mono', monospace;
      color: #05b21e;
      font-size: 2.2rem;
      font-size: clamp(1.4rem, 0.5vw + 1rem, 2.2rem);
    }
  }

  .menu-options {
    max-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0%;

    & span {
      color: white;
      margin-right: 4rem;
      font-size: 1.6rem;
    }

    .option {
      color: white;
      // font-size: 1.4rem;
      font-size: clamp(1rem, 0.2vw + 1rem, 3rem);
      padding: 1vh 1vw;
      // margin: 2vh 1vw;
      white-space: nowrap;

      // background-color: rgba(0, 93, 14, 0.5);
      // border: 0.1rem solid #005d0e;
      transition: 0.3s all;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &:hover {
        color: #005d0e;
        background-color: #05b21e;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

// @media (max-width: 720px) {
//   .header {
//     padding: 5rem 2rem 5rem 2rem;
//     // display: block;

//     .logo-container {
//       // position: absolute;
//       max-width: 30vw;
//       top: 2rem;
//       // left: 50%;
//       // transform: translateX(-50%);
//       .logo-text {
//         // color: #2d527c;
//         font-family: 'Share Tech Mono', monospace;
//         color: #05b21e;
//         font-size: 1.8rem;
//       }
//     }

//     .menu-options {
//       // display: none;
//       .option {
//         padding: 1rem 0.8rem;
//         font-size: 1.2rem;
//       }
//     }
//   }
// }
